In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Reading the Dataset
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

# One heart Encoding Process

# drop_first=True: Here it will remove the repetation column i.e. it will remove sex female columns and take male(alphabetical order)                                                              drop_first=False: Here it will give the repetation column i.e. it will give sex female and male and smoker also(alphabetical order)

dataset=pd.get_dummies(dataset,drop_first=False)

dataset

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
indep=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dep=dataset['charges']

In [7]:
indep

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [8]:
dep

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [9]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3, random_state = 0)

In [10]:
X_train

      age    bmi  children  sex_male  smoker_yes
482    18  31.35         0         0           0
338    50  32.30         1         1           1
356    46  43.89         3         1           0
869    25  24.30         3         0           0
182    22  19.95         3         1           0
...   ...    ...       ...       ...         ...
763    27  26.03         0         1           0
835    42  35.97         2         1           0
1216   40  25.08         0         1           0
559    19  35.53         0         1           0
684    33  18.50         1         0           0

[892 rows x 5 columns]

In [11]:
X_train.shape

(892, 5)

In [12]:
y_train

482      1622.1885
338     41919.0970
356      8944.1151
869      4391.6520
182      4005.4225
           ...
763      3070.8087
835      7160.3303
1216     5415.6612
559      1646.4297
684      4766.0220
Name: charges, Length: 892, dtype: float64

In [26]:
y_train.shape

(892,)

In [14]:
X_test

      age     bmi  children  sex_male  smoker_yes
578    52  30.200         1         1           0
610    47  29.370         1         0           0
569    48  40.565         2         1           1
1034   61  38.380         0         1           0
198    51  18.050         0         0           0
...   ...     ...       ...       ...         ...
261    20  26.840         1         0           1
1271   25  34.485         0         0           0
1313   19  34.700         2         0           1
2      28  33.000         3         1           0
405    52  38.380         2         0           0

[446 rows x 5 columns]

In [15]:
X_test.shape

(446, 5)

In [16]:
y_test

578      9724.53000
610      8547.69130
569     45702.02235
1034    12950.07120
198      9644.25250
           ...
261     17085.26760
1271     3021.80915
1313    36397.57600
2        4449.46200
405     11396.90020
Name: charges, Length: 446, dtype: float64

In [17]:
y_test.shape

(446,)

In [18]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)#y=W*x1+b0 for this equation we got value for b1 and bo

LinearRegression()

In [19]:
# Viewing the b1 and bo value
weight=regressor.coef_
print("Weight of the model={}".format(weight))
bais=regressor.intercept_
print("Intercept of the model={}".format(bais))

Weight of the model=[  260.1423112    315.22441969   545.72248029   -71.76915955
 23252.13608407]
Intercept of the model=-12013.760127352201

In [20]:
y_pred=regressor.predict(X_test)

In [21]:
#https://scikit-learn.org/stable/modules/model_evaluation.html

In [22]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [23]:
r_score

0.7865108093853883

In [27]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:52.5
BMI:1
Children:2
Sex Male 0 or 1:2
Smoker Yes 0 or 1:1

In [25]:
Future_Prediction=regressor.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])# change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[33161.08426927]

C:\Users\welcome\Anaconda3\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"