In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Reading the Dataset
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [5]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [6]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [7]:
indep=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dep=dataset['charges']

In [8]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3, random_state = 0)

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [10]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['mse','mae','friedman_mse'],
              'max_features': ['auto','sqrt','log2'],
              'splitter':['best','random']} 



grid = GridSearchCV(DecisionTreeRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1) 
   
# fitting the model for grid search 
grid.fit(X_train, y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\Users\welcome\Anaconda3\lib\site-packages\sklearn\tree\_classes.py:370: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [11]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   
# print classification report 
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)

print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'mae', 'max_features': 'auto', 'splitter': 'random'}: 0.7085707000367074

In [12]:
table=pd.DataFrame.from_dict(re)

In [13]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.017553,0.011844,0.000998,4.101908e-07,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.717899,0.457613,0.781278,0.625085,0.663828,0.649140,0.109238,2
1,0.013565,0.017237,0.001795,1.594044e-03,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.631951,0.562974,0.666569,0.510325,0.559780,0.586320,0.055762,13
2,0.006981,0.005006,0.001198,3.990654e-04,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.756617,0.517991,0.671169,0.426752,0.557654,0.586037,0.115890,14
3,0.002793,0.000746,0.000997,9.841808e-07,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.570394,0.493891,0.642830,0.592566,0.527111,0.565359,0.051649,16
4,0.003391,0.000799,0.000798,3.992320e-04,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.578588,0.663910,0.693850,0.590117,0.482486,0.601790,0.073813,10
5,0.002596,0.000491,0.000995,6.267648e-04,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.428065,0.502373,0.602318,0.654071,0.531687,0.543703,0.078538,17
6,0.031715,0.004389,0.000798,3.991615e-04,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.629512,0.580198,0.703105,0.579099,0.635319,0.625446,0.045476,5
7,0.025928,0.005742,0.000798,7.465696e-04,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.626933,0.662749,0.725422,0.633504,0.611973,0.652116,0.040197,1
8,0.036102,0.018831,0.000998,7.168434e-07,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.567815,0.599289,0.696491,0.580635,0.667233,0.622293,0.050512,6
9,0.016556,0.001620,0.000997,1.004758e-06,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.549406,0.412224,0.700422,0.505570,0.507266,0.534978,0.094108,18
10,0.019347,0.001492,0.000999,4.623108e-07,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.622758,0.577047,0.648770,0.630264,0.554503,0.606668,0.035176,9
11,0.023736,0.013609,0.001400,4.915711e-04,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.699167,0.529039,0.764916,0.500323,0.585997,0.615888,0.100932,7
12,0.003991,0.000630,0.000997,6.287383e-06,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.682961,0.449951,0.782578,0.601667,0.660349,0.635501,0.109613,4
13,0.002592,0.000488,0.000997,3.814697e-07,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.587567,0.669771,0.707185,0.597880,0.634437,0.639368,0.044615,3
14,0.002989,0.000892,0.001197,3.993752e-04,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.560403,0.546473,0.629029,0.658962,0.642791,0.607532,0.045387,8
15,0.002595,0.000489,0.001195,7.448192e-04,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.578433,0.546394,0.603892,0.621190,0.617015,0.593385,0.027834,12
16,0.003593,0.001018,0.000995,6.310770e-04,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.652924,0.443934,0.688488,0.643961,0.564900,0.598842,0.087345,11
17,0.002592,0.000799,0.000598,4.881505e-04,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.588213,0.477684,0.657772,0.621653,0.529805,0.575026,0.064367,15

In [14]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:2
BMI:2
Children:2
Sex Male 0 or 1:2
Smoker Yes 0 or 1:2

In [16]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])# change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[47269.854]