In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Reading the Dataset
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
indep=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dep=dataset['charges']

In [7]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3,random_state=123)#random state changed

In [8]:
X_train

      age     bmi  children  sex_male  smoker_yes
190    61  31.570         0         1           0
372    42  33.155         1         0           0
805    45  35.815         0         0           0
243    40  35.300         3         1           0
1138   33  30.250         0         1           0
...   ...     ...       ...       ...         ...
1238   37  22.705         3         1           0
1147   20  31.920         0         0           0
106    19  28.400         1         0           0
1041   18  23.085         0         1           0
1122   53  36.860         3         0           1

[892 rows x 5 columns]

In [9]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3)# NO random state

In [10]:
X_train

      age     bmi  children  sex_male  smoker_yes
985    44  25.800         1         0           0
0      19  27.900         0         0           1
482    18  31.350         0         0           0
5      31  25.740         0         0           0
86     57  31.160         0         0           1
...   ...     ...       ...       ...         ...
1209   59  37.100         1         1           0
821    26  17.670         0         1           0
392    48  31.445         1         1           0
1157   23  23.180         2         0           0
801    64  35.970         0         0           0

[892 rows x 5 columns]

In [11]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3,random_state=0) #original random state

In [12]:
X_train

      age    bmi  children  sex_male  smoker_yes
482    18  31.35         0         0           0
338    50  32.30         1         1           1
356    46  43.89         3         1           0
869    25  24.30         3         0           0
182    22  19.95         3         1           0
...   ...    ...       ...       ...         ...
763    27  26.03         0         1           0
835    42  35.97         2         1           0
1216   40  25.08         0         1           0
559    19  35.53         0         1           0
684    33  18.50         1         0           0

[892 rows x 5 columns]

In [13]:
X_test

      age     bmi  children  sex_male  smoker_yes
578    52  30.200         1         1           0
610    47  29.370         1         0           0
569    48  40.565         2         1           1
1034   61  38.380         0         1           0
198    51  18.050         0         0           0
...   ...     ...       ...       ...         ...
261    20  26.840         1         0           1
1271   25  34.485         0         0           0
1313   19  34.700         2         0           1
2      28  33.000         3         1           0
405    52  38.380         2         0           0

[446 rows x 5 columns]

In [14]:
from sklearn.svm import SVR  #without standardisation we run this cell
regressor = SVR(kernel ='linear')
regressor.fit(X_train, y_train)

SVR(kernel='linear')

In [15]:
y_pred=regressor.predict(X_test)

In [16]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [17]:
r_score # very poor model so now i will standardisation and i will check the model

-0.14846453125202963

In [18]:
from sklearn.preprocessing import StandardScaler # now i used the standardisation for improve the model
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [19]:
X_train

array([[-1.53963418,  0.11036616, -0.90788827, -0.98885138, -0.49929923],
       [ 0.74809711,  0.26412451, -0.0755796 ,  1.01127431,  2.00280702],
       [ 0.4621307 ,  2.13997636,  1.58903774,  1.01127431, -0.49929923],
       ...,
       [ 0.03318108, -0.90443894, -0.90788827,  1.01127431, -0.49929923],
       [-1.46814257,  0.7869029 , -0.90788827,  1.01127431, -0.49929923],
       [-0.46726014, -1.96941782, -0.0755796 , -0.98885138, -0.49929923]])

In [20]:
X_test

array([[ 0.89108031, -0.07576237, -0.0755796 ,  1.01127431, -0.49929923],
       [ 0.5336223 , -0.21009861, -0.0755796 , -0.98885138, -0.49929923],
       [ 0.6051139 ,  1.60182214,  0.75672907,  1.01127431,  2.00280702],
       ...,
       [-1.46814257,  0.65256665,  0.75672907, -0.98885138,  2.00280702],
       [-0.82471815,  0.37742013,  1.58903774,  1.01127431, -0.49929923],
       [ 0.89108031,  1.24817794,  0.75672907, -0.98885138, -0.49929923]])

In [21]:
from sklearn.svm import SVR
regressor = SVR(kernel ='linear')
regressor.fit(X_train, y_train)

SVR(kernel='linear')

In [22]:
# Viewing the b1 and bo value
#weight=regressor.coef_
#print("Weight of the model={}".format(weight))
#bais=regressor.intercept_
#print("Intercept of the model={}".format(bais))

In [23]:
y_pred=regressor.predict(X_test)

In [24]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [25]:
r_score

-0.024891809622290983

In [26]:
from sklearn.svm import SVR
regressor = SVR(kernel ='linear',C=10)
regressor.fit(X_train, y_train)

SVR(C=10, kernel='linear')

In [27]:
y_pred=regressor.predict(X_test)

In [28]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [29]:
r_score

0.43207272266670915

In [30]:
from sklearn.svm import SVR
regressor = SVR(kernel ='linear',C=100)
regressor.fit(X_train, y_train)

SVR(C=100, kernel='linear')

In [31]:
y_pred=regressor.predict(X_test)

In [32]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [33]:
r_score

0.6162374776116657

In [34]:
from sklearn.svm import SVR
regressor = SVR(kernel ='linear',C=1000)
regressor.fit(X_train, y_train)

SVR(C=1000, kernel='linear')

In [35]:
y_pred=regressor.predict(X_test)

In [36]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [37]:
r_score

0.7594740768777144

In [38]:
from sklearn.svm import SVR
regressor = SVR(kernel ='linear',C=10000)
regressor.fit(X_train, y_train)

SVR(C=10000, kernel='linear')

In [39]:
y_pred=regressor.predict(X_test)

In [40]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [41]:
r_score

0.7613163925502304

In [42]:
from sklearn.svm import SVR
regressor = SVR(kernel ='linear',C=2000)
regressor.fit(X_train, y_train)

SVR(C=2000, kernel='linear')

In [43]:
y_pred=regressor.predict(X_test)

In [44]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [45]:
r_score

0.761314134589906

In [46]:
from sklearn.svm import SVR
regressor = SVR(kernel ='linear',C=3000)
regressor.fit(X_train, y_train)

SVR(C=3000, kernel='linear')

In [47]:
y_pred=regressor.predict(X_test)

In [48]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [49]:
r_score

0.7612136779519176

In [50]:
from sklearn.svm import SVR
regressor = SVR(kernel ='linear',C=4000)
regressor.fit(X_train, y_train)

SVR(C=4000, kernel='linear')

In [51]:
y_pred=regressor.predict(X_test)

In [52]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [53]:
r_score

0.7613104807548093

In [54]:
from sklearn.svm import SVR
regressor = SVR(kernel ='rbf',C=3000)
regressor.fit(X_train, y_train)

SVR(C=3000)

In [55]:
y_pred=regressor.predict(X_test)

In [56]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [57]:
r_score

0.8609984985884475

In [58]:
import pickle# This command is for the save the model
filename='finalized_model.sav'
pickle.dump(regressor,open(filename,'wb'))

In [59]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:22
BMI:33
Children:2
Sex Male 0 or 1:1
Smoker Yes 0 or 1:1

In [60]:
Future_Prediction=regressor.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])# change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[16390.90465663]

In [61]:
list1=[10,100,500,1000,2000,3000]

In [62]:
for i in list1:
    from sklearn.svm import SVR
    regressor = SVR(kernel ='linear',C=i)
    regressor.fit(X_train, y_train)
    y_pred=regressor.predict(X_test)
    from sklearn.metrics import r2_score
    r_score=r2_score(y_test,y_pred)
    print("C={}-->".format(i),r_score)

C=10--> 0.43207272266670915
C=100--> 0.6162374776116657
C=500--> 0.6803476516742206
C=1000--> 0.7594740768777144
C=2000--> 0.761314134589906
C=3000--> 0.7612136779519176

In [63]:
list1=[10,100,500,1000,2000,3000]

In [64]:

for i in list1:
    from sklearn.svm import SVR
    regressor = SVR(kernel ='rbf',C=i)
    regressor.fit(X_train, y_train)
    y_pred=regressor.predict(X_test)
    from sklearn.metrics import r2_score
    r_score=r2_score(y_test,y_pred)
    print("C={}-->".format(i),r_score)

C=10--> -0.0480855688697257
C=100--> 0.2913359565836946
C=500--> 0.6397619043375016
C=1000--> 0.791561827552486
C=2000--> 0.846020871875903
C=3000--> 0.8609984985884475

In [65]:
list1=[10,100,500,1000,2000,3000]

In [66]:

for i in list1:
    from sklearn.svm import SVR
    regressor = SVR(kernel ='poly',C=i)
    regressor.fit(X_train, y_train)
    y_pred=regressor.predict(X_test)
    from sklearn.metrics import r2_score
    r_score=r2_score(y_test,y_pred)
    print("C={}-->".format(i),r_score)

C=10--> 0.02708227122578455
C=100--> 0.6041358512938573
C=500--> 0.8156896311567615
C=1000--> 0.8519826487890396
C=2000--> 0.857358931388553
C=3000--> 0.8577898390283605

In [67]:
list1=[10,100,500,1000,2000,3000]

In [68]:
for i in list1:
    from sklearn.svm import SVR
    regressor = SVR(kernel ='sigmoid',C=i)
    regressor.fit(X_train, y_train)
    y_pred=regressor.predict(X_test)
    from sklearn.metrics import r2_score
    r_score=r2_score(y_test,y_pred)
    print("C={}-->".format(i),r_score)

C=10--> 0.01938608977859435
C=100--> 0.5056420492628239
C=500--> 0.4638549858721498
C=1000--> 0.1842218837986188
C=2000--> -0.5786822329194654
C=3000--> -2.0119256717238603